.table {
  display: block;
  max-height: 180px;
  overflow-y: scroll;
  border-collapse: collapse;

  .header {
    border-bottom: 1px solid #dfe2ec;
    align-items: center;
  }

  .row:nth-child(even) {
    background-color: ghostwhite;
  }

  .col {
    text-align: left;
    padding: 10px;
    font-size: 14px;
    span {
      text-decoration: underline;
      text-align: center;
    }
  }

  .row {
    .col {
      font-size: 13px;
    }
  }

  .row:hover {
    cursor: pointer;
    background-color: #b0cef6
  }

}
